
    <!-- About Section Start -->
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="assets/img/about-1.jpg" alt="">
            </div>
          </div> 
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <h3>Hi Guys!</h3>
              <p> Welcome to my website, I am a Web Developer<br/>
              who is passionate about learning new technologies and creating beautiful web applications.<br/>
              I am a web developer programming with latest technologies and frameworks such as <b> Bootstrap and Angular</b>
              I enjoy learning about new technology and have passion about web development. I am currently working towards my 
              Angular projects mentioned in project link. </p>
              <div class="about-profile">
                <ul class="admin-profile">
                  <li><span class="pro-title"> Name </span> <span class="pro-detail">Deepali Harish Madge</span></li>
                  <li><span class="pro-title"> Age </span> <span class="pro-detail">29 Years</span></li>
                  <li><span class="pro-title"> Country </span> <span class="pro-detail">India</span></li>
                  <li><span class="pro-title"> Location  </span> <span class="pro-detail">Ahmednagar,Maharashtra</span></li>
                  <li><span class="pro-title"> e-mail  </span> <span class="pro-detail">madge.dipali@gmail.com</span></li>
                  <li><span class="pro-title"> Phone  </span> <span class="pro-detail"> + (91)7767012620 </span></li>
                  <li><span class="pro-title"> Freelance  </span> <span class="pro-detail">Available</span></li>
                </ul>
              </div>
              <a href="https://s3.ap-south-1.amazonaws.com/deepassignment/deepaliResume.pdf" class="btn btn-common">
                <i class="icon-paper-clip"></i> Download Resume</a>
            </div>
          </div>   
        </div>
      </div>
    </section>
    <!-- About Section End -->
