 <!-- Services Section Start -->
 <h2 class="text-center"> Projects</h2>
<section>
    <div class="container">
      <div class="row  justify-content-center">
        <!-- Services item -->
        <div class="card-columns">
            <div class="card shadow" style="width: 20 rem;  height: 600px; ">
                <img class="card-img-top" src="/assets/img/chat.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center">Chat App</h5>
                  <p class="card-text"><span> Technology Used: </span> Angular</p>
                  <a href="http://www.chat.deepalimadge.com" class="btn btn-primary"> <i class="fa fa-chrome" aria-hidden="true"></i> Visit Site</a>
                  <a href="https://amodik.github.io/" class="btn btn-danger"><i class="fa fa-github" aria-hidden="true"></i> Github </a>
                </div>
              </div>
              <div class="card shadow" style="width: 20 rem;  height:450px; ">
                  <img class="card-img-top" src="/assets/img/zomato.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title text-center">Restaurant Finder App</h5>
                    <p class="card-text"><span> Technology Used: </span> Angular</p>
                    <a href="http://www.restaurantfinder.deepalimadge.com" class="btn btn-primary"> <i class="fa fa-chrome" aria-hidden="true"></i> Visit Site</a>
                    <a href="https://github.com/AmodMadge/AmodMadgeprojec.github.io" class="btn btn-danger"><i class="fa fa-github" aria-hidden="true"></i> Github </a>
                  </div>
                </div>
             <div class="card shadow" style="width: 20 rem;height: 600px;">
                <img class="card-img-top" src="/assets/img/Country.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center">Country Info App</h5>
                  <p class="card-text"><span> Technology Used: </span> Angular</p>
                  <a href="http://www.country.deepalimadge.com" class="btn btn-primary"> 
                    <i class="fa fa-chrome" aria-hidden="true"></i> Visit Site</a>
                  <a href="https://github.com/AmodMadge/AmodMadgeCountrycode.github.io" class="btn btn-danger">
                    <i class="fa fa-github" aria-hidden="true"></i> Github </a>
                </div>
              </div>
                 <div class="card shadow" style="width: 20 rem; height:450px; ">
                <img class="card-img-top" src="/assets/img/CryptoCurrency.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center">Cryptocurrency App</h5>
                  <p class="card-text"><span> Technology Used: </span> Angular</p>
                  <a href="http://www.cryptocurrency.deepalimadge.com" class="btn btn-primary"> <i class="fa fa-chrome" aria-hidden="true"></i> Visit Site</a>
                  <a href="https://github.com/AmodMadge/amodmadge.cryptosource.github.io" class="btn btn-danger"><i class="fa fa-github" aria-hidden="true"></i> Github </a>
                </div>
              </div>       
            <div class="card shadow" style="width: 20 rem; height: 600px; ">
                <img class="card-img-top" src="/assets/img/GOT.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center">Game Of Thrones App</h5>
                  <p class="card-text"><span> Technology Used: </span> Angular</p>
                  <a href="http://www.got.deepalimadge.com" class="btn btn-primary"> <i class="fa fa-chrome" aria-hidden="true"></i> Visit Site</a>
                  <a href="https://github.com/AmodMadge/amodg.github.io" class="btn btn-danger"><i class="fa fa-github" aria-hidden="true"></i> Github </a>
                </div>
              </div>
            </div>           
        </div>
    </div>
  <!-- Services Section End -->
</section>